<style>
    body{background-color: #F5F4F6; }
    header .user-links li a{
        color: #333;
    }
    svg{
        fill: #333!important;
    }
    </style>
<section class="account text-center">
    <div class="container">
        <div class="title">Create your custodial account</div>
        <div class="caption">You're creating an account to use our free Custodial deposit protection.</div>
        <div class="form-section text-left">
            <div class="title">Select Account Type</div>
            <div class="row">
                <div class="col-md-12">
                        <ul class="extra-info-wrap">
                            <li class="form-wrap input inline checkbox bordered">
                                <input class="markerType checkbox" type="checkbox" id="a" value="a" name="options">
                                <label for="a">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span class="text">Landlord</span>
                                </label>
                            </li>
                            <li class="form-wrap input inline checkbox bordered">
                                <input class="markerType checkbox" type="checkbox" id="b" value="a" name="options">
                                <label for="b">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span class="text">Tenant</span>
                                </label>
                            </li>
                            <li class="form-wrap input inline checkbox bordered">
                                <input class="markerType checkbox" type="checkbox" id="c" value="a" name="options">
                                <label for="c">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span class="text">Agent</span>
                                </label>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="form-section text-left">
            <div class="title">Login Details</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-wrap">
                                <label for="">Email Address</label>
                                <input type="Email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-wrap">
                                <label for="">Password</label>
                                <input type="password" placeholder="Enter your password">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-wrap">
                                <label for="">Confirm Password</label>
                                <input type="password" placeholder="Confirm your password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Security question 1 *</label>
                                    <select>
                                            <option value="">Select a question</option><option value="1">Date of birth</option><option value="2">Mothers maiden name</option><option value="3">First pets name</option><option value="4">Fathers given name</option><option value="5">Favourite colour</option><option value="6">Town / suburb of birth</option><option value="7">Name of high school</option><option value="8">Favourite country</option><option value="9">Place of birth</option><option value="11">Colour of eyes</option><option value="12">Name of first school</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Security question 2 *</label>
                                    <select name="" id="">
                                            <option value="">Select a question</option><option value="1">Date of birth</option><option value="2">Mothers maiden name</option><option value="3">First pets name</option><option value="4">Fathers given name</option><option value="5">Favourite colour</option><option value="6">Town / suburb of birth</option><option value="7">Name of high school</option><option value="8">Favourite country</option><option value="9">Place of birth</option><option value="11">Colour of eyes</option><option value="12">Name of first school</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Confirm Password</label>
                                    <select name="" id=""><option value="">Select a question</option><option value="1">Date of birth</option><option value="2">Mothers maiden name</option><option value="3">First pets name</option><option value="4">Fathers given name</option><option value="5">Favourite colour</option><option value="6">Town / suburb of birth</option><option value="7">Name of high school</option><option value="8">Favourite country</option><option value="9">Place of birth</option><option value="11">Colour of eyes</option><option value="12">Name of first school</option></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Answer to question 1 *</label>
                                    <input type="text" placeholder="Enter Answer">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Answer to question 2 *</label>
                                    <input type="text" placeholder="Enter Answer">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Answer to question 3 *</label>
                                    <input type="text" placeholder="Enter Answer">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="form-section text-left">
            <form action="">
                <div class="title">Personal Details</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for=""><Title></Title></label>
                                    <select name="" id="">
                                        <option value="">Mr</option>
                                        <option value="">Mrs</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">First Name</label>
                                    <input type="text" placeholder="Enter your First Name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Last Name</label>
                                    <input type="text" placeholder="Enter your Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="phone_number">Phone Number</label>
                                    <input id="phone_number" name="phone_number" placeholder="Enter Phone Number" type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="address_city">City</label>
                                    <input id="address_city" name="address_city" type="text" value="">                      
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="address_state_id">State</label>     
                                    <select name="address_state_id" id="address_state_id" required="">
                                        <option value="">Select a State</option>
                                        <option value="1">Abia</option>
                                        <option value="2">Abuja</option>
                                        <option value="3">Adamawa</option>
                                        <option value="4">Akwa Ibom</option>
                                        <option value="5">Anambra</option>
                                        <option value="6">Bauchi</option>
                                        <option value="7">Bayelsa</option>
                                        <option value="8">Benue</option>
                                        <option value="9">Borno</option>
                                        <option value="10">Cross River</option>
                                        <option value="11">Delta</option>
                                        <option value="12">Ebonyi</option>
                                        <option value="13">Enugu</option>
                                        <option value="14">Edo</option>
                                        <option value="15">Ekiti</option>
                                        <option value="16">Gombe</option>
                                        <option value="17">Imo</option>
                                        <option value="18">Jigawa</option>
                                        <option value="19">Kaduna</option>
                                        <option value="20">Kano</option>
                                        <option value="21">Katsina</option>
                                        <option value="22">Kebbi</option>
                                        <option value="23">Kogi</option>
                                        <option value="24">Kwara</option>
                                        <option value="25">Lagos</option>
                                        <option value="26">Nasarawa</option>
                                        <option value="27">Niger</option>
                                        <option value="28">Ogun</option>
                                        <option value="29">Ondo</option>
                                        <option value="30">Osun</option>
                                        <option value="31">Oyo</option>
                                        <option value="32">Plateau</option>
                                        <option value="33">Rivers</option>
                                        <option value="34">Sokoto</option>
                                        <option value="35">Taraba</option>
                                        <option value="36">Yobe</option>
                                        <option value="37">Zamfara</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <label for="">Contact Address</label>
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-wrap input checkbox">
                                    <input id="terms" name="terms" type="checkbox">
                                    <label for="terms">
                                          <span class="icon"><i class="fas fa-check"></i></span>
                                          <span class="text">I have read and accept the terms and conditions</span>
                                    </label>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a ui-sref="admin" class="button float-right">Create Account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>