<style>
        body{background-color: #F5F4F6; }
        header .user-links li a{
        color: #333;
    }
    svg{
        fill: #333!important;
    }
        </style>
<section class="admin">
    <div class="container">
        <nav>
            <ul class="admin-nav">
                <li class="active">
                    <a href="">
                        <span class="text">View tenancies</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="text">Creat tenancy</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="text">Property portfolio</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="text">Payment summary</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="text">Your Account</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="text">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="title">What would you like to do today?</div>
                            <a href="" class="button">Create new tenancy</a>
                        </div>
                        <div class="col-md-4 text-right">
                            <div class="figure">0</div>
                            <div class="caption">Total tenancy</div>
                        </div>
                        <div class="col-md-4 text-right">
                            <div class="figure">₦0.00</div>
                            <div class="caption">Total deposit value</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card no-pad">
                    <div class="head">
                        <span class="icon"><i class="fas fa-unlock"></i></span>
                        <span class="text">Deposit not protected</span>
                    </div>
                    <div class="cont">
                        <div class="figure-wrap">
                            <span class="figure">0</span>
                            <span class="caption">Tenancies</span>
                        </div>
                        <div class="figure-wrap">
                            <span class="figure">₦0.00</span>
                            <span class="caption">Amount</span>
                        </div>
                    </div>
                    <a href="" class="view-all">View all protection &nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card no-pad">
                    <div class="head">
                        <span class="icon"><i class="fas fa-lock"></i></span>
                        <span class="text">Deposit protected</span>
                    </div>
                    <div class="cont">
                        <div class="figure-wrap">
                            <span class="figure">0</span>
                            <span class="caption">Tenancies</span>
                        </div>
                        <div class="figure-wrap">
                            <span class="figure">₦0.00</span>
                            <span class="caption">Amount</span>
                        </div>
                    </div>
                    <a href="" class="view-all">View all protection &nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card no-pad">
                    <div class="head">
                        <span class="icon"><i class="fas fa-bell"></i></span>
                        <span class="text">Notification</span>
                    </div>
                    <div class="cont">
                        <div class="notification">
                            No Notification
                        </div>
                    </div>
                    <a href="" class="view-all">View all notification &nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>